apiVersion: elasticsearch.k8s.elastic.co/v1
kind: Elasticsearch
metadata:
  name: __NAME__
  namespace: __NAMESPACE__
spec:
  version: "9.5.5"
  image: __ES_IMAGE__
  volumeClaimDeletePolicy: DeleteOnScaledownOnly
  nodeSets:
    - name: default
      count: __COUNT__
      config:
        node.store.allow_mmap: false
      podTemplate:
        spec:
          terminationGracePeriodSeconds: 120
          nodeSelector:
            kubernetes.io/arch: __ARCH__
          affinity:
            podAntiAffinity:
              requiredDuringSchedulingIgnoredDuringExecution:
                - labelSelector:
                    matchLabels:
                      elasticsearch.k8s.elastic.co/cluster-name: __NAME__
                  topologyKey: kubernetes.io/hostname
          containers:
            - name: elasticsearch
              resources:
                requests:
                  cpu: __REQUEST_CPU__
                  memory: __REQUEST_MEMORY__
                limits:
                  cpu: __LIMIT_CPU__
                  memory: __LIMIT_MEMORY__
      volumeClaimTemplates:
        - metadata:
            name: elasticsearch-data
          spec:
            accessModes: [ReadWriteOnce]
            storageClassName: __STORAGE_CLASS__
            resources:
              requests:
                storage: __STORAGE_SIZE__
